.headerbox { 
    background: red}

.Navbox {
    background: blueviolet}

.asidebox {
    background: green}

.sectionbox {
    background: orangered}

.articlebox {
    background: grey}

.footerbox { 
    background: aliceblue
}